[Unit]
Description=Setup r2p

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'echo 1 > /sys/devices/r2p/default_payload' 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
